@media only screen and (max-width: 767px) {
  /* Estilos para mobile */
}

/* Telas médias */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tablets */
}

/* Telas grandes */
@media only screen and (min-width: 992px) {
  /* Estilos para desktops */
}



 header{
margin: 0px;
justify-content: center;
align-items: center;
align-self: center;
align-content: center;
 }

 .logo {
  margin-top: 10px;
  justify-self: center;

 }

  body {
  background-image: url('https://media.gettyimages.com/id/1271912722/pt/vetorial/food-and-drinks-pattern.jpg?s=612x612&w=0&k=20&c=05b4RrUDxOl3Ad7FnDmuEeyyp0zAucuzmNS612Nkjvc=');   

}


main { 

  margin-left: 100px;
   margin-right: 100px;
  justify-self: center;
  align-items: center;



}

 nav{
  color: red;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 5cqi;
  margin: none;
  width: 100%;
 }



.delivery {
padding: 5px;
text-align: center;
color: white;
background-color: red;
text-shadow: 10px black;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;

 }

.delivery:hover {
text-align: center;
background-color: red;
color: white;
text-shadow: 5px black;

}

.deliveryb {
 display: flex;
color: white;
background-color: red;
font-family: Arial, Helvetica, sans-serif;
font: 100;

 }


.deliveryb:hover {
text-align: center;
background-color: red;
color: red;
text-shadow: 10px black;

}




  input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    align-self: center;
  }

  p {
        margin: 20px;
    border-radius: 10px;
    background-color: white;
    padding: 5%;
    color: black;
    font-family: arial;
    text-align: center;
    align-self: center;


  }

.menu {
  display: flex;
  flex-direction:row;
  gap: 10px;
  margin: 10px;
  margin-bottom: 10px;
  width: 200px;
  justify-content: center;
  justify-self: center;
}

  .comida:hover {
padding:20px;
  transition: 0.2s;
}  


  .whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-top: 20px;
  gap: 10px;               /* espaço entre ícone e texto */
  background-color: #25D366;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50px;      /* botão arredondado */
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.whatsapp:hover {
  background-color: #0eac4d;
  padding:11px;
}



button {
  padding: 10px; border-radius: 10px;
}  



  footer {
    color: white;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    align-content: center;

  }

